:root {
  color-scheme: light dark;
  background-color: rgb(248, 250, 252);
  color: rgba(255, 255, 255, 0.9);
}

.light-theme {
  --bg-color: #ffffff;
  --text-color: #213547;
}

.dark-theme {
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header {
  text-align: center;
  font-family: monospace;
  font-size: 7em;
  font-weight: 900;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
}

.theme-toggle-btn {
  padding: 10px 20px;

  display: fixed;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
