@media (max-width: 600px) {
  .profile-card {
    max-width: 100% !important;
    font-size: 1.3rem !important;
  }

  .profile-image {
    max-width: 120px !important;
    height: 120px !important;
  }

  .header {
    font-size: 4rem !important;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .profile-card {
    padding: 20px !important;
    font-size: 1.1rem !important;
    margin: 10px !important;
  }

  .profile-image {
    max-width: 130px !important;
    height: 130px !important;
  }

  .header {
    font-size: 5rem !important;
  }
}

@media (min-width: 1025px) {
  .profile-card {
    max-width: 280px !important;
    padding: 25px !important;
    font-size: 1.2rem !important;
  }

  .profile-image {
    max-width: 150px !important;
    height: 150px !important;
  }

  .header {
    font-size: 7rem !important;
  }
}
